<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TodoApp</title>

    {% load static %}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'todos/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active">
                        <a href="{% url 'index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li role="presentation">
                            <a href="{% url 'create' %}">Add TODO</a>
                        </li>
                        <li role="presentation">
                            <b>{{user.first_name}} {{user.last_name}}</b>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li role="presentation">
                            <a href="{% url 'login' %}">Login</a>
                        </li>
                        <li role="presentation">
                            <a href="{% url 'signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
            <h3 class="text-muted">
                <a href="{% url 'index' %}">TodoApp</a>
            </h3>
        </div>
        <section id="content">
            {% block content %}{% endblock %}
        </section>
        <footer class="footer">
            <p>&copy; 2016 Company, Inc.</p>
        </footer>

    </div>
    <!-- /container -->
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'axios.min.js' %}"></script>
    <script src="{% static 'todos/js/todo.js' %}"></script>
</body>

</html>
