{% extends 'base.html' %}
{% block content%}
<h3>
    {% if form_type == 'create' %}
        Add Todo
    {% elif form_type == 'edit' %}
        Edit Todo
    {% endif %}
</h3>
<div class="todo-form">
    <form method="post" action="{% url 'save' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="input-todo-title">Title</label>
            <input type="text" name="title" class="form-control" id="input-todo-title" placeholder="What do you want to do?">
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" class="form-control" id="description" placeholder="Description"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock %}
