{% extends 'base.html' %}
{% block content%}
<h3>Sign Up</h3>
{% include 'messages.html' %}
<div class="signup">
    <form method="post" action="{% url 'signup-submit' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Username" required />
        </div>
        <div class="form-group">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="first_name" class="form-control" placeholder="First Name" required />
        </div>
        <div class="form-group">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="last_name" class="form-control" placeholder="Last Name" required />
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required />
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>
{% endblock %}
